<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>確認画面</title>
</head>
<body>
	<h3>社員削除確認画面</h3>
	<div class="update">
		<div class="form">
			<div class="label">パスワード：</div>
			<div class="input">※非表示</div>
		</div>
		<div class="form">
			<div class="label">社員名：</div>
			<div class="input" th:text=${emp.empName}></div>
		</div>
		<div class="form">
			<div class="label">性別：</div>
			<div class="input" th:text="${@conversion.genderConversion(emp.gender)}"></div>
		</div>
		<div class="form">
			<div class="label">住所：</div>
			<div class="input" th:text="${emp.address}"></div>
		</div>
		<div class="form">
			<div class="label">生年月日：</div>
			<div class="input" th:text="${#dates.format(emp.birthday,'YYYY/M/d')}"></div>
		</div>
		<div class="form">
			<div class="label">権限：</div>
			<div class="input" th:text="${@conversion.roleConversion(emp.role)}"></div>
		</div>
		<div class="form">
			<div class="label">部署名：</div>
			<div class="input" th:text="${@conversion.deptConversion(emp.deptId)}"></div>
		</div>
		<form th:action="@{/deleteComplete}" method="post">
			<div class="form">
				<div class="label"></div>
				<div class="submit_button">
					<input type="hidden" name="empId" th:value="${emp.empId}">
					<input type="submit" value="削除" />
				</div>
			</div>
		</form>
		<form th:action="@{/list}" method="get">
			<div class="form">
				<div class="label"></div>
				<div class="submit_button">
					<input type="submit" value="戻る" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>