<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>確認画面</title>
</head>
<body>
	<h3 th:text="${title}"></h3>
	<div class="update">
		<div class="form">
			<div class="label">パスワード：</div>
			<div class="input">※非表示</div>
		</div>
		<div class="form">
			<div class="label">社員名：</div>
			<div class="input" th:text=${emp.empName}></div>
		</div>
		<div class="form">
			<div class="label">性別：</div>
			<div class="input" th:text="${@conversion.genderConversion(emp.gender)}"></div>
		</div>
		<div class="form">
			<div class="label">住所：</div>
			<div class="input" th:text="${emp.address}"></div>
		</div>
		<div class="form">
			<div class="label">生年月日：</div>
			<div class="input" th:text="${#dates.format(emp.birthday,'YYYY/M/d')}"></div>
		</div>
		<div class="form">
			<div class="label">権限：</div>
			<div class="input" th:text="${@conversion.roleConversion(emp.role)}"></div>
		</div>
		<div class="form">
			<div class="label">部署名：</div>
			<div class="input" th:text="${@conversion.deptConversion(emp.deptId)}"></div>
		</div>
		<form th:action="@{/insertCompleteCtrl}" method="post">
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="hidden" name="empPass" th:value="${emp.empPass}">
					<input type="hidden" name="empName" th:value="${emp.empName}">
					<input type="hidden" name="gender" th:value="${emp.gender}">
					<input type="hidden" name="address" th:value="${emp.address}">
					<input type="hidden" name="birthday" th:value="${#dates.format(emp.birthday,'YYYY/MM/dd')}">
					<input type="hidden" name="role" th:value="${emp.role}">
					<input type="hidden" name="deptId" th:value="${emp.deptId}">
					<input type="submit" th:value="${buttonName}" />
				</div>
			</div>
		</form>
		<form th:action="@{/insertReturnCtrl}" method="post">
			<div class="form">
				<div class="label"></div>
				<div class="input">
					<input type="hidden" name="empPass" th:value="${emp.empPass}">
					<input type="hidden" name="empName" th:value="${emp.empName}">
					<input type="hidden" name="gender" th:value="${emp.gender}">
					<input type="hidden" name="address" th:value="${emp.address}">
					<input type="hidden" name="bithday" th:value="${#dates.format(emp.birthday,'YYYY/MM/dd')}">
					<input type="hidden" name="role" th:value="${emp.role}">
					<input type="hidden" name="deptId" th:value="${emp.deptId}">
					<input type="submit" value="戻る" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>