<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>入力フォーム</title>
</head>
<body>
	<h3>新規登録入力画面</h3>
	<div class="update">
		<form th:action="@{/insertCheck}" method="post">
			<div class="form">
				<div class="label">パスワード：</div>
				<div class="input">
					<input type="password" name="empPass" th:value="${emp.empPass}"/>
				</div>
			</div>
			<div class="form">
				<div class="label">社員名：</div>
				<div class="input">
					<input type="text" name="empName" th:value="${emp.empName}"/>
				</div>
			</div>
			<div class="form">
				<div class="label">性別：</div>
				<div class="input">
					<input type="hidden" name="hiddenGender" th:value="${emp.gender}">
					<input type="radio" name="gender" value="1" />男性&nbsp; <input
						type="radio" name="gender" value="2" />女性
				</div>
			</div>
			<div class="form">
				<div class="label">住所：</div>
				<div class="input">
					<input type="text" name="address" th:value="${emp.address}"/>
				</div>
			</div>
			<div class="form">
				<div class="label">生年月日：</div>
				<div class="input">
					<input type="text" name="birthday" th:value="${#dates.format(emp.birthday,'YYYY/MM/dd')}"/> (YYYY/MM/DD)
				</div>
			</div>
			<div class="form">
				<div class="label">権限：</div>
				<div class="input">
					<input type="hidden" name="hiddenRole" th:value="${emp.role}">
					<input type="radio" name="role" value="ROLE_GENERAL" />一般&nbsp;&nbsp; <input
						type="radio" name="role" value="ROLE_ADMIN" />管理者
				</div>
			</div>
			<div class="form">
				<div class="label">部署名：</div>
				<div class="input">
					<input type="hidden" name="hiddenDeptId" th:value="${emp.deptId}">
					<select name="deptId">
						<option value="1">営業部</option>
						<option value="2">経理部</option>
						<option value="3">総務部</option>
					</select>
				</div>
			</div>
			<div class="form">
				<div class="label"></div>
				<div class="submit_button">
					<input type="submit" value="確認" />
				</div>
			</div>
		</form>
		<form th:action="@{/list}" method="post">
			<div class="form">
				<div class="label"></div>
				<div class="submit_button">
					<input type="submit" value="戻る" />
				</div>
			</div>
		</form>
	</div>
<!-- 使うjsファイル -->
<script th:src="@{/js/selectedFormJs.js}"></script>
</body>
</html>