<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>入力フォーム</title>
</head>
<body>
	<h3>新規登録入力画面</h3>
	<div class="update">
	
		<form th:action="@{/insertCheck}" method="post" th:object=${registForm}>
		
			<div class="form">
				<div class="label">パスワード：</div>
				<div class="input" th:classappend="${#fields.hasErrors('empPass')}?has-error">
					<input type="password" name="empPass" th:field="*{empPass}"/>
					<span class="text-danger" th:if="${#fields.hasErrors('empPass')}" th:errors="*{empPass}">empPass error</span>
				</div>
			</div>
			<div class="form">
				<div class="label">社員名：</div>
				<div class="input" th:classappend="${#fields.hasErrors('empName')}?has-error">
					<input type="text" name="empName" th:value="${emp.empName}" th:field="*{empName}"/>
					<span class="text-danger" th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}">empName error</span>
				</div>
			</div>
			<div class="form">
				<div class="label">性別：</div>
				<div class="input" th:classappend="${#fields.hasErrors('gender')}?has-error">
					<input type="hidden" name="hiddenGender" th:value="${emp.gender}">
					<input type="radio" name="gender" value="1" th:field="*{gender}"/>男性&nbsp; <input
						type="radio" name="gender" value="2" th:field="*{gender}"/>女性&nbsp;
						<span class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">gender error</span>
				</div>
			</div>
			<div class="form">
				<div class="label">住所：</div>
				<div class="input" th:classappend="${#fields.hasErrors('address')}?has-error">
					<input type="text" name="address" th:value="${emp.address}" th:field="*{address}"/>
					<span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address error</span>
				</div>
			</div>
			<div class="form">
				<div class="label">生年月日：</div>
				<div class="input" th:classappend="${#fields.hasErrors('birthday')}?has-error">
					<input type="text" name="birthday" th:value="${#dates.format(emp.birthday,'YYYY/MM/dd')}" placeholder="yyyy/MM/dd" th:field="*{birthday}"/>
					<span class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">birthday error</span>
				</div>
			</div>
			<div class="form">
				<div class="label">権限：</div>
				<div class="input" th:classappend="${#fields.hasErrors('role')}?has-error">
					<input type="hidden" name="hiddenRole" th:value="${emp.role}">
					<input type="radio" name="role" value="ROLE_GENERAL" th:field="*{role}"/>一般&nbsp;&nbsp; <input
						type="radio" name="role" value="ROLE_ADMIN" th:field="*{role}"/>管理者&nbsp;
						<span class="text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">role error</span>
				</div>
			</div>
			<div class="form">
				<div class="label">部署名：</div>
				<div class="input" th:classappend="${#fields.hasErrors('deptId')}?has-error">
					<input type="hidden" name="hiddenDeptId" th:value="${emp.deptId}">
					<select name="deptId" id="deptId" th:field="*{deptId}">
						<option value="1">営業部</option>
						<option value="2">経理部</option>
						<option value="3">総務部</option>
					</select>
					<span class="text-danger" th:if="${#fields.hasErrors('deptId')}" th:errors="*{deptId}">deptId error</span>
				</div>
			</div>
			<div class="form">
				<div class="label"></div>
				<div class="submit_button">
					<input type="submit" value="確認" />
				</div>
			</div>
		</form>
		<form th:action="@{/list}" method="get">
			<div class="form">
				<div class="label"></div>
				<div class="submit_button">
					<input type="submit" value="戻る" />
				</div>
			</div>
		</form>
	</div>
<!-- 使うjsファイル -->
<script th:src="@{/js/selectedFormJs.js}"></script>
</body>
</html>